@import '../_variables.scss';

.menu-item {
  .nav-link {
    color: inherit;
    .navButton {
      cursor: pointer;
      --color: #ffffff;
      background: none;
      color: white;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0.5em;
      padding: 1em 1em 0.6em 1em;
      box-shadow: 0.5em 0.5em 0 0 var(--color), inset 0.5em 0.5em 0 0 var(--color);
      transition: 0.25s;
    }
    .navButton:hover, .navButton:focus {
        box-shadow: 0 0 0 0 var(--color), inset 6em 3.5em 0 0 var(--color);
        color: black;
    }
  }

  .disabled-item {
    span {
      color: #e2e2e2;
    }
  }
}

.h-nav-menu-dd {
  background-color: $white;
  // border: 1px solid transparent;
}

/* DARK THEME */

.theme-dark {
  .h-nav-menu-dd {
    background-color: $theme-light-dark-bg;
    // border-color: $theme-dark-border-color;
    box-shadow: 0px 0px 30px #0f163a !important;
  }
}
